body {
    font-family: 'Arial', sans-serif;
    background-color: #ddd9d9;
    margin: 0;
    background-image: url("AJT_0831.jpg");
}
.container {
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #810000;
    margin: 150px;
}

h2 {
    color: #ffffff;
}

label {
    margin-right: 10px;
    color: #fff;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #003c64;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #002a46;
}

#output {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(253, 253, 253, 0.1);
    text-align: left;
    color: #fff ;
}

p {
    margin: 10px 0;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 430px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

ul li.active a {
    background-color: #fff;
    color: #000;
}
